body {
  background-color: grey;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
}

img {
  height: 70%;
  width: 70%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
